body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:459px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1327 {
  position:absolute;
  left:127px;
  top:88px;
  width:539px;
  height:459px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:222px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:459px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1329 {
  position:absolute;
  left:195px;
  top:88px;
  width:154px;
  height:459px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:222px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:460px;
}
#u1331 {
  position:absolute;
  left:127px;
  top:88px;
  width:68px;
  height:459px;
}
#u1332 {
  position:absolute;
  left:2px;
  top:222px;
  width:64px;
  word-wrap:break-word;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:222px;
  top:192px;
  width:110px;
  height:26px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1335 {
  position:absolute;
  left:127px;
  top:34px;
  width:302px;
  height:32px;
  font-size:18px;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
}
#u1337 {
  position:absolute;
  left:206px;
  top:103px;
  width:117px;
  height:60px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u1339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1339 {
  position:absolute;
  left:199px;
  top:238px;
  width:24px;
  height:24px;
}
#u1340 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1341 {
  position:absolute;
  left:197px;
  top:282px;
  width:24px;
  height:24px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1343 {
  position:absolute;
  left:197px;
  top:376px;
  width:24px;
  height:24px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1345 {
  position:absolute;
  left:197px;
  top:327px;
  width:24px;
  height:24px;
}
#u1346 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1347 {
  position:absolute;
  left:223px;
  top:238px;
  width:110px;
  height:26px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  position:absolute;
  left:223px;
  top:280px;
  width:110px;
  height:26px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1351 {
  position:absolute;
  left:223px;
  top:325px;
  width:110px;
  height:26px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1353 {
  position:absolute;
  left:223px;
  top:374px;
  width:110px;
  height:26px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1355 {
  position:absolute;
  left:198px;
  top:194px;
  width:24px;
  height:24px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  position:absolute;
  left:223px;
  top:432px;
  width:110px;
  height:26px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1359 {
  position:absolute;
  left:197px;
  top:434px;
  width:24px;
  height:24px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:459px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1361 {
  position:absolute;
  left:349px;
  top:88px;
  width:317px;
  height:459px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:222px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:239px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1363 {
  position:absolute;
  left:343px;
  top:103px;
  width:311px;
  height:239px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:112px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1365 {
  position:absolute;
  left:349px;
  top:132px;
  width:46px;
  height:41px;
}
#u1366 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1367 {
  position:absolute;
  left:362px;
  top:186px;
  width:54px;
  height:17px;
  font-size:9px;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1369 {
  position:absolute;
  left:409px;
  top:132px;
  width:46px;
  height:41px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1371 {
  position:absolute;
  left:409px;
  top:186px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1372 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1373 {
  position:absolute;
  left:468px;
  top:132px;
  width:46px;
  height:41px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1375 {
  position:absolute;
  left:528px;
  top:132px;
  width:46px;
  height:41px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1377 {
  position:absolute;
  left:592px;
  top:132px;
  width:46px;
  height:41px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1379 {
  position:absolute;
  left:475px;
  top:186px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1381 {
  position:absolute;
  left:535px;
  top:186px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1383 {
  position:absolute;
  left:600px;
  top:186px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1385 {
  position:absolute;
  left:350px;
  top:213px;
  width:46px;
  height:41px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1387 {
  position:absolute;
  left:363px;
  top:267px;
  width:54px;
  height:17px;
  font-size:9px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1389 {
  position:absolute;
  left:410px;
  top:213px;
  width:46px;
  height:41px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1391 {
  position:absolute;
  left:421px;
  top:267px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1393 {
  position:absolute;
  left:469px;
  top:213px;
  width:46px;
  height:41px;
}
#u1394 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1395 {
  position:absolute;
  left:529px;
  top:213px;
  width:46px;
  height:41px;
}
#u1396 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1397 {
  position:absolute;
  left:592px;
  top:213px;
  width:46px;
  height:41px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1399 {
  position:absolute;
  left:476px;
  top:267px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1400 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1401 {
  position:absolute;
  left:536px;
  top:267px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1403 {
  position:absolute;
  left:601px;
  top:267px;
  width:65px;
  height:17px;
  font-size:9px;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1405 {
  position:absolute;
  left:498px;
  top:300px;
  width:107px;
  height:22px;
  font-size:10px;
}
#u1406 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:178px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1407 {
  position:absolute;
  left:343px;
  top:361px;
  width:311px;
  height:178px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:81px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1409 {
  position:absolute;
  left:350px;
  top:364px;
  width:223px;
  height:47px;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1411 {
  position:absolute;
  left:366px;
  top:384px;
  width:272px;
  height:113px;
}
#u1411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:113px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1412 {
  position:absolute;
  left:367px;
  top:300px;
  width:107px;
  height:22px;
  font-size:10px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1414 {
  position:absolute;
  left:433px;
  top:506px;
  width:107px;
  height:22px;
  font-size:10px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1416 {
  position:absolute;
  left:433px;
  top:506px;
  width:107px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1417 {
  position:absolute;
  left:699px;
  top:259px;
  width:223px;
  height:47px;
}
#u1418 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:2px;
}
#u1419 {
  position:absolute;
  left:456px;
  top:275px;
  width:233px;
  height:1px;
  color:#000000;
}
#u1420 {
  position:absolute;
  left:2px;
  top:-8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:2px;
}
#u1421 {
  position:absolute;
  left:456px;
  top:399px;
  width:233px;
  height:1px;
  color:#000000;
}
#u1422 {
  position:absolute;
  left:2px;
  top:-8px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1423 {
  position:absolute;
  left:699px;
  top:384px;
  width:223px;
  height:47px;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1425 {
  position:absolute;
  left:465px;
  top:110px;
  width:223px;
  height:47px;
}
#u1426 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1427 {
  position:absolute;
  left:363px;
  top:107px;
  width:92px;
  height:22px;
}
#u1427_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1427_input:disabled {
  color:grayText;
}
#u1428 {
  position:absolute;
  left:222px;
  top:192px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1429 {
  position:absolute;
  left:223px;
  top:238px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1430 {
  position:absolute;
  left:223px;
  top:280px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1431 {
  position:absolute;
  left:223px;
  top:325px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1432 {
  position:absolute;
  left:223px;
  top:374px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1433 {
  position:absolute;
  left:223px;
  top:432px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
