body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:459px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:127px;
  top:88px;
  width:539px;
  height:459px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:222px;
  width:535px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:459px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  position:absolute;
  left:195px;
  top:88px;
  width:154px;
  height:459px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:222px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:460px;
}
#u2126 {
  position:absolute;
  left:127px;
  top:88px;
  width:68px;
  height:459px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:222px;
  width:64px;
  word-wrap:break-word;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:222px;
  top:192px;
  width:110px;
  height:26px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2130 {
  position:absolute;
  left:127px;
  top:29px;
  width:319px;
  height:37px;
  font-size:18px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:61px;
}
#u2132 {
  position:absolute;
  left:206px;
  top:103px;
  width:117px;
  height:60px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:22px;
  width:113px;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2134 {
  position:absolute;
  left:199px;
  top:238px;
  width:24px;
  height:24px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2136 {
  position:absolute;
  left:51px;
  top:488px;
  width:24px;
  height:24px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2138 {
  position:absolute;
  left:197px;
  top:282px;
  width:24px;
  height:24px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2140 {
  position:absolute;
  left:197px;
  top:376px;
  width:24px;
  height:24px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2142 {
  position:absolute;
  left:197px;
  top:327px;
  width:24px;
  height:24px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:223px;
  top:238px;
  width:110px;
  height:26px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  position:absolute;
  left:223px;
  top:280px;
  width:110px;
  height:26px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2148 {
  position:absolute;
  left:223px;
  top:325px;
  width:110px;
  height:26px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:223px;
  top:374px;
  width:110px;
  height:26px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2152 {
  position:absolute;
  left:198px;
  top:194px;
  width:24px;
  height:24px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:223px;
  top:432px;
  width:110px;
  height:26px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2156 {
  position:absolute;
  left:197px;
  top:434px;
  width:24px;
  height:24px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:459px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2158 {
  position:absolute;
  left:349px;
  top:88px;
  width:317px;
  height:459px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:222px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:414px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:343px;
  top:103px;
  width:305px;
  height:414px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:199px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:349px;
  top:103px;
  width:223px;
  height:47px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:695px;
  top:141px;
  width:223px;
  height:47px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u2166 {
  position:absolute;
  left:603px;
  top:156px;
  width:82px;
  height:1px;
  color:#000000;
}
#u2167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168 {
  position:absolute;
  left:358px;
  top:129px;
  width:277px;
  height:89px;
}
#u2168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:89px;
  background-color:#E4E4E4;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:358px;
  top:223px;
  width:277px;
  height:27px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:220px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:501px;
  top:238px;
  width:134px;
  height:220px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:102px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:71px;
}
#u2174 {
  position:absolute;
  left:419px;
  top:209px;
  width:113px;
  height:71px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:23px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u2176 {
  position:absolute;
  left:423px;
  top:231px;
  width:23px;
  height:25px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2178 {
  position:absolute;
  left:456px;
  top:222px;
  width:76px;
  height:49px;
  font-size:12px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2180 {
  position:absolute;
  left:435px;
  top:474px;
  width:107px;
  height:22px;
  font-size:10px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:2px;
}
#u2182 {
  position:absolute;
  left:555px;
  top:474px;
  width:130px;
  height:1px;
  color:#000000;
}
#u2183 {
  position:absolute;
  left:2px;
  top:-8px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  position:absolute;
  left:695px;
  top:463px;
  width:223px;
  height:47px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u2186 {
  position:absolute;
  left:435px;
  top:474px;
  width:107px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:134px;
}
#u2187 {
  position:absolute;
  left:400px;
  top:297px;
  width:83px;
  height:134px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:59px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2189 {
  position:absolute;
  left:384px;
  top:305px;
  width:25px;
  height:25px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2191 {
  position:absolute;
  left:431px;
  top:280px;
  width:25px;
  height:25px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2193 {
  position:absolute;
  left:431px;
  top:336px;
  width:25px;
  height:25px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2195 {
  position:absolute;
  left:431px;
  top:406px;
  width:25px;
  height:25px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2197 {
  position:absolute;
  left:532px;
  top:250px;
  width:112px;
  height:30px;
  font-size:12px;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2199 {
  position:absolute;
  left:511px;
  top:290px;
  width:25px;
  height:25px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2201 {
  position:absolute;
  left:546px;
  top:290px;
  width:112px;
  height:30px;
  font-size:12px;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2203 {
  position:absolute;
  left:511px;
  top:330px;
  width:25px;
  height:25px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2205 {
  position:absolute;
  left:546px;
  top:330px;
  width:112px;
  height:30px;
  font-size:12px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2207 {
  position:absolute;
  left:511px;
  top:374px;
  width:25px;
  height:25px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2209 {
  position:absolute;
  left:546px;
  top:374px;
  width:112px;
  height:30px;
  font-size:12px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u2211 {
  position:absolute;
  left:618px;
  top:297px;
  width:100px;
  height:16px;
}
#u2212 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2213 {
  position:absolute;
  left:618px;
  top:340px;
  width:100px;
  height:16px;
}
#u2214 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2215 {
  position:absolute;
  left:618px;
  top:381px;
  width:100px;
  height:16px;
}
#u2216 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2217 {
  position:absolute;
  left:618px;
  top:336px;
  width:17px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2218 {
  position:absolute;
  left:618px;
  top:379px;
  width:17px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2219 {
  position:absolute;
  left:618px;
  top:297px;
  width:17px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  position:absolute;
  left:695px;
  top:290px;
  width:223px;
  height:47px;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:2px;
}
#u2222 {
  position:absolute;
  left:627px;
  top:305px;
  width:58px;
  height:1px;
  color:#000000;
}
#u2223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224 {
  position:absolute;
  left:222px;
  top:192px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2225 {
  position:absolute;
  left:223px;
  top:238px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2226 {
  position:absolute;
  left:223px;
  top:280px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2227 {
  position:absolute;
  left:223px;
  top:325px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2228 {
  position:absolute;
  left:223px;
  top:374px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2229 {
  position:absolute;
  left:223px;
  top:432px;
  width:110px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
